<template>
    <div class="container">
        <lightning-card title={label.createOrder} icon-name="standard:orders" class="slds-m-around_large">
            <!-- <lightning-button label="New" slot="actions"></lightning-button> -->
            <template if:true={loading}>
                <lightning-spinner variant="brand" size="medium"> </lightning-spinner>
            </template>
                <div class="slds-grid slds-p-around_xx-small">
                    <div class="slds-align_absolute-center slds-size_1-of-1">
                        <lightning-combobox
                        class="slds-size_1-of-2"
                            name="Product Category"
                            label="Product Category"
                            value={productCategory}
                            options={productCategoryOptions}
                            onchange={handleProductCategoryChange}>
                        </lightning-combobox>
                    </div>
                </div>
                <div class="slds-grid slds-p-around_xx-small">
                    <div class="slds-align_absolute-center slds-size_1-of-1">
                        <lightning-combobox
                        class="slds-size_1-of-2"
                            name="Order Reason Codes"
                            label={label.orderReasonCode}
                            value={orderReasonCode}
                            options={reasonCodeOptions}
                            onchange={handleReasonCodeChange}>
                        </lightning-combobox>
                    </div>
                </div>
                <template if:false={addressesExist}>
                    <lightning-formatted-text value={label.noShippingAddresses}></lightning-formatted-text>
                </template>
                <template if:true={addressesExist}>
                    <lightning-combobox
                    name="Shipping Address"
                    label={label.Address}
                    value={selectedShippingAddress}
                    placeholder={label.selectShippingAddress}
                    options={addresses}
                    onchange={handleChange}>
                </lightning-combobox>
                <div slot="footer" class="slds-p-bottom_large">
                    <lightning-button class="slds-m-around_x-small" variant="neutral" label={label.cancel} onclick={closeQuickAction}></lightning-button>
                    <template if:true={addressSelected}>
                        <lightning-button class="slds-m-around_x-small" variant="brand" label={label.createOrder} onclick={createOrder}></lightning-button>
                    </template>
                </div>
                </template>
            <div class="slds-grid slds-p-around_xx-small">
                <div class="slds-align_absolute-center slds-size_1-of-1">
                    <lightning-formatted-text class="slds-p-around_medium" value="PO Number:"></lightning-formatted-text>
                    <lightning-input type="text" value={poNumber} variant="label-hidden" onchange={handlePOChange}></lightning-input>
                </div>
            </div>
        </lightning-card>
    </div>
</template>