<!--
 - Created by Matt on 1/5/2023.
 -->

<!-- (Coastal Cloud 2023)Product Detail Page Product Name Display -->
<template>
        <lightning-layout multiple-rows="false">
            <lightning-layout-item size="12" class="text-container">
                <div class={textSizeClass}>
                    {nameField}
                </div>
            </lightning-layout-item>
        </lightning-layout>
</template>