/**
 * Created by Matt on 1/5/2023.
 */

.text-container {
    padding-left: 12px;
}

.small-text {
    font-size: 1rem;
}

.medium-text {
    font-size: 1.25rem;
}

.large-text {
    font-size: 1.75rem;
}

.x-large-text {
    font-size: 2.25rem;
}