<!--
 - Created by Matt on 3/30/2022.
 -->

<!-- (Coastal Cloud) Price Info LWC -->
<template>
    <div class={fontClass}>
        <lightning-layout multiple-rows="false">
            <!-- Your Price: START -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={yourPriceLabel} class="slds-p-left_small price-info-your-price-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-number format-style="currency" value={yourPrice} currency-code={currencyCode} currency-display-as="symbol" class="slds-p-left_small slds-p-right_medium price-info-your-price-value-text"></lightning-formatted-number></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
            <!-- Your Price: STOP -->

            <!-- Orig Price: START -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={origPriceLabel} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><strike><lightning-formatted-number format-style="currency"  currency-display-as="symbol"  currency-code={currencyCode} class="slds-p-left_small slds-p-right_medium product-price-info-value-text" value={origPrice}></lightning-formatted-number></strike></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
            <!-- Orig Price: STOP -->

            <!-- Map: START -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={mapLabel} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-number format-style="currency" currency-display-as="symbol" currency-code={currencyCode} class="slds-p-left_small slds-p-right_medium product-price-info-value-text" value={map}></lightning-formatted-number></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
            <!-- Map: STOP -->

            <!-- MSRP: START -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={msrpLabel} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-number format-style="currency"  currency-display-as="symbol" currency-code={currencyCode} class="slds-p-left_small slds-p-right_medium product-price-info-value-text" value={msrp}></lightning-formatted-number></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
            <!-- MSRP: STOP -->
        </lightning-layout>
    </div>
</template>