<!--
 - Created by Matt on 2/14/2023.
 -->

<!-- (Coastal Cloud 2023) B2B Store Language Selector -->
<template>
    <div class="lang-container">
        <lightning-combobox options={langOptions} value={defaultLang} label={languageText} placeholder="Select a Language" validity="" onchange={handleLangSelection}></lightning-combobox>
    </div>
</template>