<template>
   <div class="slds-box" if:true={product}>
        <template for:each={product} for:item="item">
        <div class="slds-grid slds-gutters " key ={item.key}>
            <div class="slds-col slds-size_1-of-2">
                <span>{item.key}</span>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <span>{item.value}</span>
            </div>
        </div>
        </template>
    </div>
</template>