<!--
 - Created by Matt on 3/29/2022.
 -->

<!-- (Coastal Cloud) Master Grid LWC -->
<template>
    <template if:true={showMasterGrid}>
        <template if:true={showWishlistModal}>
            <c-cc_add_to_wishlist onclosemodal={closeModal} is-record-detail-page="false" effective-account-id={effectiveAccountId}></c-cc_add_to_wishlist>
        </template>
        <template if:true={isLoading}>
            <lightning-spinner size="large" alternative-text="Adding Products to Cart.."></lightning-spinner>
        </template>
        <table class="custom-product-grid-table slds-max-medium-table_stacked-horizontal">
            <thead>
                <tr>
                    <template for:each={columnsData} for:item="col">
                        <th key={col.key} scope="col">{col.label}</th>
                    </template>
                </tr>
            </thead>
            <!-- Product Data Rows: START -->
            <template for:each={productData} for:item="item">
                <tr key={item.Product.Model_Number__c}>
                    <!-- Image -->
                    <td>
                        <c-cc_mg_product_image_display img-url={item.Product.Display_Image__c}
                                                       product-id={item.ProductId}
                                                       product-name={item.Product.Name}>
                        </c-cc_mg_product_image_display>
                    </td>
                    <!-- Product Info -->
                    <td>
                        <c-cc_mg_product_info model={item.Product.Model_Number__c}
                                              material={item.Product.Material__c}
                                              upc={item.Product.UPC_Code__c}
                                              case-pack={item.Product.Case_Quantity__c}
                                              inventory-status={item.Product.Inventory_Status__c}>
                        </c-cc_mg_product_info>
                    </td>
                    <template for:each={item.addedCols} for:item="addItem">
                        <td key={addItem.key} class="dynamic-col">{addItem.value}</td>
                    </template>

                    <!-- Price Info -->
                    <td class="price-td">
                        <c-cc_mg_price_info your-price={item.Product.Your_Price__c}
                                            orig-price={item.Product.Original_Price__c}
                                            map={item.Product.MAP_Price__c}
                                            msrp={item.Product.MSRP_Price__c}
                                            currency-code={currencyCode}>
                        </c-cc_mg_price_info>
                    </td>
                    <!-- Quantity -->
                    <td>
                        <lightning-layout horizontal-align="center" vertical-align="center" class="qty-input-container">
                            <lightning-layout-item size="6" padding="around-medium">
                                <lightning-input label="" data-name={item.Product.Name} data-model={item.Product.Model_Number__c} data-id={item.ProductId} onchange={handleQuantityChange} data-price={item.Product.Your_Price__c} type="number" name="qtyInput" variant="label-hidden" class="qty-input"></lightning-input>
                            </lightning-layout-item>
                        </lightning-layout>
                    </td>
                </tr>
            </template>
        <!-- Product Data Rows: STOP -->
        </table>
    </template>
</template>