.slds-modal__container {
    width: 60% !important;
    max-width: 90% !important;
    overflow: visible !important;
    overflow-y: visible;
}

.slds-modal__content {
    overflow: visible;
    margin-bottom: 150px;
}