<template>

    <template if:true={OrderLineWithShipment}>

        <c-paginator
                class="paginator"
                entries-to-show-per-page={EntriesPerPage}
                max-page-buttons-to-show={MaxPageButtons}
                hide-or-disable-buttons={hideOrDisableUnnecessaryButtons}
                pagedata={OrderLineWithShipment}
                onpagerchanged={handlePagerChanged}>


            <h2 class="slds-text-heading_medium slds-m-bottom_small">OrderLines</h2>

            <lightning-accordion allow-multiple-sections-open class="slds-table slds-table_bordered slds-table_cell-buffer" >
                <template if:true={OrderLineWithShipment}>
                    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                        <thead>
                            <tr class="slds-text-title_caps">
                                <template for:each={OrdLineTableHeadings} for:item="heading">
                                    <th key={OrdLineTableHeadings}><lightning-formatted-text value={heading}></lightning-formatted-text></th>
                                </template>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={currentlyVisible} for:item="OrdItem" for:index="index">
                                        
                                        <tr data-id={OrdItem.Id} key={OrdItem.Id}> 
                                            <td><lightning-formatted-text value={OrdItem.Name}></lightning-formatted-text></td>
                                            <td><lightning-formatted-text value={OrdItem.Mat}></lightning-formatted-text></td>
                                            <td><lightning-formatted-number value={OrdItem.Ordered}></lightning-formatted-number></td>
                                            <td><lightning-formatted-number value={OrdItem.Shiped}></lightning-formatted-number></td>
                                            <td><lightning-formatted-number value={OrdItem.UP} format-style="currency" currency-code={currencyCode} maximum-fraction-digits="2"></lightning-formatted-number></td>
                                            <td><lightning-formatted-number value={OrdItem.Ext} format-style="currency" currency-code={currencyCode} maximum-fraction-digits="2"></lightning-formatted-number></td>
                                        </tr>
                                        <div key={OrdItem.Id}>
                                            <template if:true={OrdItem.OrdLineHasShipments}>
                                                <lightning-accordion-section name={OrdItem.ShipmentDet} label={label.lShips}>
                                                        <lightning-datatable
                                                                key-field="Id"
                                                                data={OrdItem.shipments}
                                                                columns={ShipmentColumns}
                                                                hide-checkbox-column>
                                                        </lightning-datatable>
                                                </lightning-accordion-section>
                                            </template>
                                        </div>
                                    
                            </template>
                        </tbody>
                    </table>
                    
                </template>

            </lightning-accordion>

        </c-paginator>
    </template>

</template>