/**
 * Created by Matt on 3/16/2022.
 */

p {
    font-size: 1rem;
    padding: 2px;
}
h1{
    font-size: 1.6rem;
}
h2 {
    font-size: 1rem;
}

.log-container {
    border: 2px solid #B2B2AC;
    padding-top: 15px;
}

.fileuploader {
    padding: 5px;
}

.upload-btn  {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border: none;
    padding: 0 19px;
    border-radius: 3px;
    font-family: open sans;
    font-weight: 800;
    font-size: 16px;
    box-shadow: 1px 1px 2px 0 #777, inset 1px 2px 0 #b5eaef, inset -1px -1px 1px #549399;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    color: #203235!important;
    background: #80c7d6;
    background: -webkit-linear-gradient(#a0e4ea 0%,#70bbc2 100%);
    background: -moz-linear-gradient(#a0e4ea 0%,#70bbc2 100%);
    background: -o-linear-gradient(#a0e4ea 0%,#70bbc2 100%);
    background: linear-gradient(#a0e4ea 0%,#70bbc2 100%);
    cursor: pointer;
}

.slds-file-selector__dropzone {

}

.container {
    border: 2px solid #B2B2AC;
    padding-bottom: 10px;
}

.slds-file-selector__text {
    display: none;
}

.slds-file-selector__button {
    display: inline-block;
        height: 40px;
        line-height: 40px;
        border: none;
        padding: 0 19px;
        border-radius: 3px;
        font-family: open sans;
        font-weight: 800;
        font-size: 16px;
        box-shadow: 1px 1px 2px 0 #777, inset 1px 2px 0 #b5eaef, inset -1px -1px 1px #549399;
        text-shadow: 1px 1px #000000;
        text-transform: uppercase;
        color: #203235!important;
        background: #80c7d6;
        background: -webkit-linear-gradient(#a0e4ea 0%,#70bbc2 100%);
        background: -moz-linear-gradient(#a0e4ea 0%,#70bbc2 100%);
        background: -o-linear-gradient(#a0e4ea 0%,#70bbc2 100%);
        background: linear-gradient(#a0e4ea 0%,#70bbc2 100%);
        cursor: pointer;
}


.upload-btn-fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}