<!--
 - Created by Matt on 3/16/2022.
 -->

<!-- Quick Order Upload -->
<template>
    <div class="container">
        <template if:true={isLoading}>
            <lightning-layout vertical-align="center" horizontal-align="center" multiple-rows="false">
                <lightning-layout-item size="12" style="text-align: center;">
                    <lightning-spinner size="large" alternative-text="processing file"></lightning-spinner>
                </lightning-layout-item>
            </lightning-layout>
        </template>
            <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true" >
                <lightning-layout-item class="slds-p-around_medium" style="text-align: center;" size="12">
                    <h1>{headerText}</h1>
                </lightning-layout-item>
                <lightning-layout-item size="12" style="text-align: center;">
                    <p>{uploadText} (<a href={templateURL} download="QuickOrderUploadTemplate" onclick={handleDownload}>{templateText}</a>)</p>

                </lightning-layout-item>
                <lightning-layout-item size="12" style="text-align: center;">
                    <template if:false={isLoading}>
                        <div class="upload-btn-container">
                            <lightning-input label="UPLOAD FILE"
                                             class="fileuploader"
                                             variant="label-hidden"
                                             type="file"
                                             id="fileinput"
                                             accept=".csv"
                                             multiple="false"
                                             name="fileupload"
                                             onchange={handleFileUpload}>
                            </lightning-input>
                        </div>
                    </template>
                </lightning-layout-item>
            </lightning-layout>
    </div>
    <template if:true={showProcessLog}>
        <c-quick-order-process-log rich-text={processLog} is-success={isSuccess} title-error={highLvlErrorMsg} show-process-log={showProcessLog}></c-quick-order-process-log>
    </template>
</template>