<!--
 - Created by Matt on 5/23/2022.
 -->

<!-- (Coastal Cloud) Checkout Button -->
<template>
    <lightning-button variant="brand"
                      class="custom-checkout-button"
                      onclick={handleCheckout}
                      disabled={checkoutBtnDisabled}
                      label={buttonText}>
    </lightning-button>
</template>