.fileuploader {
    padding: 5px;
}

.tableHeader thead th span{
    text-transform: capitalize;
}

.toastMessage.forceActionsText{
    white-space : pre-line !important;
}

.order-total {

    padding-top: 15%;
    display: grid;
}

.order-total-label {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.inputs-container {
    padding-left: 15%;
}

.modalText {
    font-size: 1.2rem;
}

.modal-body-text {
    text-align: center;
}

.spinner-container {
    top: 20%;
    z-index: 99;
    left: 50%;
}