<template>
    <div class="slds-is-relative">
        <template if:true={hideScreen}>
            <div class="slds-align_absolute-center slds-p-around_medium">
                <lightning-button label={label.backToOrder} onclick={backToOrder}></lightning-button>
            </div>
        </template>
        <template if:false={hideScreen}>
            <lightning-card title={label.orderInformation} icon-name="standard:fulfillment_order">
                <template if:true={loading}>
                    <div class="spinner-container slds-is-fixed">
                        <lightning-spinner variant="brand" size="large"> </lightning-spinner>
                    </div>
                </template>
                <lightning-button label={label.backToOrder} slot="actions" data-id="backToOrder" onclick={openModal}></lightning-button>
                <div class="slds-grid">
                    <div class="slds-size_4-of-6">
                        <div class="inputs-container">
                            <div class="slds-align_absolute-center slds-p-around_medium">
                                <span>
                                    <!-- <lightning-file-upload
                                        label="Upload a file(.csv)"
                                        id="fileInput"
                                        name="fileUploader"
                                        accept=".csv"
                                        onuploadfinished={handleFileUpload}>
                                    </lightning-file-upload> -->
                                    <lightning-input label={label.uploadCSV}
                                    type="file"
                                    id="fileinput"
                                    accept=".csv"
                                    multiple="false"
                                    name="fileupload"
                                    onchange={handleFileUpload}
                                     disabled={inputsDisabled}>
                                    </lightning-input>
                                </span>
                            </div>
                            <div class="slds-align_absolute-center slds-size_1-of-2">
                                <lightning-combobox
                                    class="slds-size_1-of-2"
                                    name="Order Reason Codes"
                                    label={label.orderReasonCode}
                                    value={orderReason}
                                    options={reasonCodeOptions}
                                    onchange={handleReasonCodeChange}
                                    disabled={inputsDisabled}>
                                </lightning-combobox>
                            </div>
                            <div class="slds-grid slds-gutters slds-align_absolute-center">
                                <div class="slds-align_absolute-center">
                                    <div class="slds-col">
                                        <span><lightning-input type="text"
                                                               label={label.materialModelNum}
                                                               value={productCode}
                                                               data-fieldname="sku-field"
                                                               class="sku-input"
                                                               onchange={addProduct}
                                                               placeholder={label.enterSKU}
                                                               disabled={inputsDisabled}>
                                        </lightning-input></span>
                                    </div>
                                    <div class="slds-col">
                                        <span><lightning-input type="number"
                                                               label={label.quantity}
                                                               value={productQuantity}
                                                               data-fieldname="qty-field"
                                                               class="quantity-input"
                                                               onchange={addQuantity}
                                                               disabled={inputsDisabled}>
                                        </lightning-input></span>
                                    </div>
                                    <div class="slds-col" style="margin-top:auto">
                                        <span><lightning-button class="slds-m-left_xsmall" variant="brand" label={label.addProduct} onclick={productQuery} disabled={inputsDisabled}></lightning-button></span>
                                    </div>
                                    <template if:true={productsSelected}>
                                        <div class="slds-col" style="margin-top:auto">
                                            <span><lightning-button class="slds-m-left_xsmall" variant="neutral" label={label.clearProducts} data-id="clear" onclick={openModal} disabled={inputsDisabled}></lightning-button></span>
                                        </div>
                                    </template>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-size_2-of-6">
                        <div class="slds-grid slds-gutters  slds-p-around_medium order-total">
                            <span class="order-total-label">Order Total: <lightning-formatted-number format-style="currency" currency-code={currencyCode} value={orderTotal} currency-display-as="symbol"></lightning-formatted-number></span>
                            <span class="order-min-label">Minimum: <lightning-formatted-number format-style="currency" currency-code={currencyCode} value={orderMin} currency-display-as="symbol"></lightning-formatted-number></span>
                            <span class="num-products-label">Number of added products: <lightning-formatted-number value={numProducts}></lightning-formatted-number></span>
                        </div>
                    </div>
                </div>
                    <div slot="footer">
                        <!-- <lightning-tabset> -->
                        <lightning-tabset active-tab-value={activeTab}>
                            <template if:true={productsSelected}>
                                <div class="slds-align_absolute-center slds-m-around_medium">
                                    <lightning-button class="slds-p-around_small" disabled={inputsDisabled} label={label.addToOrder} variant="neutral" onclick={addToOrder}></lightning-button>
                                    <lightning-button class="slds-p-around_small" disabled={inputsDisabled} label={label.completeOrder} variant="success" onclick={completeOrder}></lightning-button>
                                </div>
                                <lightning-tab label={label.selectedProducts} value="productsTab">
                                    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                        <thead>
                                            <tr class="slds-text-title_caps">
                                                <template for:each={productTableHeadings} for:item="heading">
                                                    <th key={productTableHeadings}><lightning-formatted-text value={heading}></lightning-formatted-text></th>
                                                </template>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template for:each={addedProducts} for:item="addedProduct" for:index="index">
                                                <tr data-id={addedProduct.Id} key={addedProduct.Id}>
                                                    <td><lightning-formatted-text value={addedProduct.productCode}></lightning-formatted-text></td>
                                                    <td><lightning-formatted-text value={addedProduct.productName}></lightning-formatted-text></td>
                                                    <td><img src={addedProduct.image.url} alt={addedProduct.image.altText} height="100px" width="100px"></td>
                                                    <td><lightning-formatted-number value={addedProduct.quantity} maximum-fraction-digits="0"></lightning-formatted-number></td>
                                                    <td><lightning-formatted-number value={addedProduct.unitPrice} format-style="currency" currency-code={currencyCode} maximum-fraction-digits="2"></lightning-formatted-number></td>
                                                    <td><lightning-formatted-number value={addedProduct.extPrice} format-style="currency" currency-code={currencyCode} maximum-fraction-digits="2"></lightning-formatted-number></td>
                                                    <td><lightning-formatted-number value={addedProduct.currentInventory} maximum-fraction-digits="0"></lightning-formatted-number></td>
                                                    <td><lightning-button-icon if:false={loading} data-id={index} data-name="Products" icon-name="utility:delete" alternative-text={label.deleteProduct} variant="bare" class="slds-m-left_xx-small" title="Delete" onclick={deleteLine}></lightning-button-icon></td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
        <!--                                <template if:true={productsSelected}>-->
        <!--                                    <div class="slds-align_absolute-center slds-m-around_medium">                   -->
        <!--                                        <lightning-button class="slds-p-around_small" label={label.addToOrder} variant="neutral" onclick={addToOrder}></lightning-button>-->
        <!--                                        <lightning-button class="slds-p-around_small" label={label.completeOrder} variant="success" onclick={completeOrder}></lightning-button>-->
        <!--                                    </div> -->
        <!--                                </template> -->
                                </lightning-tab>
                            </template>
                            <template if:false={productsSelected}>
                                <div class="slds-text-align_center slds-text-color_weak slds-p-top_xx-large">
                                    <h3 class="slds-text-heading_medium">
                                        {label.noSelectedProductsHeader}
                                    </h3>
                                    <p class="slds-text-body_regular slds-p-top_small">
                                        {label.noSelectedProductsBody}
                                    </p>
                                </div>
                            </template>
                            <template if:true={uploadErrors}>
                                <lightning-tab label={label.productUploadErrors} value="errorTab">
                                    <table id="errorTable" class="slds-table slds-table_bordered slds-table_cell-buffer">
                                        <thead>
                                            <tr class="slds-text-title_caps">
                                                <template for:each={errorTableHeadings} for:item="heading">
                                                    <th key={errorTableHeadings}><lightning-formatted-text value={heading}></lightning-formatted-text></th>
                                                </template>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template for:each={uploadErrorList} for:item="error" for:index="index">
                                                <tr data-id={error.Id} key={error.Id}>
                                                    <td><lightning-input type="text" data-name="product" data-id={index} value={error.product} onchange={handleErrorCorrect} onblur={setObjectProperty} disabled={error.editable}></lightning-input></td>
                                                    <td><lightning-input type="text" disabled={inputsDisabled} data-name="quantity" data-id={index} value={error.quantity} onchange={handleErrorCorrect} onblur={setObjectProperty}></lightning-input></td>
                                                    <!-- <td><input type="text" data-name="product" data-id={index} value={error.product} onchange={handleErrorCorrect} disabled={error.editable}></input></td>
                                                    <td><input type="text" data-name="quantity" data-id={index} value={error.quantity} onchange={handleErrorCorrect}></input></td> -->
                                                    <td><lightning-formatted-text value={error.error}></lightning-formatted-text></td>
                                                    <td><lightning-button-icon data-id={index} if:false={loading} data-name="Errors" icon-name="utility:save" alternative-text={label.save} variant="bare" class="slds-m-left_xx-small" title="Save" onclick={saveLine}></lightning-button-icon></td>
                                                    <td><lightning-button-icon data-id={index} if:false={loading} data-name="Errors" icon-name="utility:delete" alternative-text={label.deleteProduct} variant="bare" class="slds-m-left_xx-small" title="Delete" onclick={deleteLine}></lightning-button-icon></td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                    <!-- <template if:true={rowsSelected}> -->
                                        <!-- <div class="slds-align_absolute-center slds-m-around_medium">
                                            <lightning-button label="Add to Order" variant="brand" onclick={bulkFixProducts}></lightning-button>
                                        </div>  -->
                                    <!-- </template> -->
                                </lightning-tab>
                            </template>
                        </lightning-tabset>
                    </div>
            </lightning-card>
        </template>
        <template if:true={showModal}>
            <section role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-align_absolute-center slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <div class="slds-modal__header">
                        <!-- TODO: Use Labels here -->
                        <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate" if:true={backModal}>Confirm Redirect</h1>
                        <h1 id="modal-heading-02" class="slds-modal__title slds-hyphenate" if:true={clearModal}>Confirm Delete</h1>
                    </div>
                    <div class="slds-modal__content slds-p-around_medium modal-body-text" id="modal-content-id-1">
                        <!-- TODO: Use Labels here -->
                        <p if:true={clearModal} class="slds-p-around_large modalText">Are you sure you would like to remove all added products from the list?</p>
                        <p if:true={backModal} class="slds-p-around_large modalText">Returning to the Order will cancel any work done on this page. Are you sure you would like to return to the Order?</p>
                    </div>
                    <div class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" aria-label="Cancel and close" onclick={closeModal}>Cancel</button>
                        <button class="slds-button slds-button_destructive" if:true={clearModal} onclick={clearProducts}>Clear</button>
                        <button class="slds-button slds-button_destructive" if:true={backModal} onclick={backToOrder}>Go Back</button>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
        </template>
    </div>
</template>