<!--
 - Created by Matt on 5/5/2022.
 -->

<!-- (Coastal Cloud) WishlistItem Display Card -->
<template>
    <div class="slds-is-relative">
        <template if:true={item}>
            <ul>
                <li
                        key={item.orderItemId}
                        class="container-li slds-p-vertical_medium"
                >
                    <!-- Card Body : START -->
                    <!-- Product Image -->
                    <figure>
                        <a
                                tabindex="-1"
                                href={item.productUrl}
                                data-productid={item.productId}
                                onclick={handleProductDetailNavigation}>
                            <img
                                    src={item.photoURL}
                                    alt={item.productImageAltText}
                                    data-productid={item.productId}
                            />
                        </a>
                    </figure>
                    <div class="cart-wishlist-item-details slds-has-flexi-truncate">
                        <ul>
                            <li key={item.orderItemId} class="variation-text">
                            <span class="product-name-text slds-text-title_caps slds-text-title_bold">
                                {item.productName}
                            </span>
                            </li>
                        </ul>
                        <div class="cart-wishlist-item-properties">
                            <dl class="product-fields">
                                <dt class="slds-truncate">{modelText}:</dt>
                                <dd class="slds-truncate" title={item.modelNumber}>
                                    {item.modelNumber}
                                </dd>
                                <dt class="slds-truncate">{materialText}:</dt>
                                <dd class="slds-truncate" title={item.materialNumber}>{item.materialNumber}</dd>
                                <dt class="slds-truncate">{casePackText}:</dt>
                                <dd class="slds-truncate" title={item.casePack}>{item.casePack}</dd>
                            </dl>
                            <div class="cart-wishlist-item-quantity-price-remove">
                                <div class="slds-is-relative quantity-selector slds-grid slds-grid_vertical-align-center slds-text-title_caps">
                                    <label for={item.orderItemId} class="selector-label slds-p-right_medium">QTY</label>
                                    <span class="controls slds-m-right_small quantity-group" role="group">
                                        <button class="decrement-btn slds-p-horizontal_xx-small slds-p-vertical_x-small" onclick={handleQuantityDecrease} disabled={inputsDisabled}>
                                            <lightning-icon icon-name="utility:dash"
                                                            size="x-small"
                                                            class="slds-icon-utility-dash btn-icon slds-icon_container">
                                            </lightning-icon>
                                        </button>
                                        <input class="selector-input slds-p-horizontal_medium slds-p-vertical_x-small"
                                               disabled={inputsDisabled}
                                               id={item.orderItemId}
                                               data-item-id={item.orderItemId}
                                               type="number"
                                               step="1"
                                               required
                                               onchange={handleQuantityChange}
                                               value={item.quantity} />
                                        <button class="increment-btn slds-p-horizontal_xx-small slds-p-vertical_x-small" onclick={handleQuantityIncrease} disabled={inputsDisabled}>
                                            <lightning-icon icon-name="utility:add"
                                                            size="x-small"
                                                            class="slds-icon-utility-add btn-icon slds-icon_container">
                                            </lightning-icon>
                                        </button>
                                    </span>
                                    <span class="inventory-status">
                                        {inventoryStatusText}: {item.inventoryStatus}
                                    </span>
                                </div>
                                <div class="price slds-p-horizontal_medium slds-has-flexi-truncate">
                                    <lightning-formatted-number
                                            format-style="currency"
                                            currency-code={currencyCode}
                                            class="negotiated-price slds-truncate slds-text-heading_large"
                                            currency-display-as="symbol"
                                            maximum-fraction-digits="2"
                                            value={item.totalPrice}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-p-around_xx-small remove">
                                    <lightning-button-icon
                                            icon-name="utility:close"
                                            size="medium"
                                            variant="bare"
                                            class="remove-btn"
                                            alternative-text="remove"
                                            onclick={handleDeleteWishlistItem}
                                            data-orderitemid={item.orderItemId}
                                            disabled={inputsDisabled}>
                                    </lightning-button-icon>
                                    <div class="add-to-cart-button">
                                        <lightning-button variant="brand"
                                                          label={addToCartTxt}
                                                          data-orderitemid={item.orderItemId}
                                                          disabled={inputsDisabled}
                                                          onclick={handleSingleCartAdd}>
                                        </lightning-button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <template if:true={item.hasErrors}>
                            <div class="error-container">
                                <div class="error-item slds-p-around_medium">
                                    <span><lightning-icon class="slds-icon-text-error" icon-name="utility:error" size="small"></lightning-icon></span>
                                    <p class="error-text">{item.errorMsg}</p>
                                </div>
                            </div>
                        </template>
                    </div>
                </li>
            </ul>
            <template if:true={isLoading}>
                <div class="spinner-container slds-is-absolute">
                    <lightning-spinner size="large" alternative-text="Processing..."></lightning-spinner>
                </div>
            </template>
        </template>
    </div>
</template>