<!--
 - Created by Matt on 4/26/2022.
 -->

<!-- (Coastal Cloud) Add to Wishlist LWC -->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                <span class="slds-assistive-text">Close</span>
            </button>
            <div class="slds-modal__header">
                <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{headerText}</h1>
            </div>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <template if:true={isLoading}>
                    <lightning-spinner size="medium" alternative-text="Loading..."></lightning-spinner>
                </template>
                <lightning-layout multiple-rows="true">
                    <!-- Existing Wishlist Radio Selection: Start -->
                    <lightning-layout-item size="12" padding="around-medium">
                        <input type="radio" value="existing" id="existingSelect" name="selectionGroup" class="add-to-wishlist-radio-option existingSelect radioInput" onchange={handleRadioSelect}>
                        <label for="existingSelect" class="add-to-wishlist-radio-option-text">{addToExistingWishlistText}</label>
                    </lightning-layout-item>
                    <!-- Existing Wishlist Radio Selection: Stop -->

                    <!-- Existing Wishlist Radio Dropdown input: Start -->
                    <lightning-layout-item size="12" padding="around-small" flexibility="shrink" class="input-container">
                        <div class={selectContainerClass}>
                            <lightning-combobox id="wishlistSelect"
                                                class="add-to-wishlist-select-input inputField"
                                                options={existingOrders}
                                                placeholder={selectPlaceholder}
                                                value={selectedList}
                                                disabled={wishlistListSelectDisabled}
                                                onchange={handleWishlistSelect}
                                                label=""
                                                variant="label-hidden">
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item>
                    <!-- Existing Wishlist Radio Selection: Stop -->

                    <!-- New Wishlist Radio Selection: Start -->
                    <lightning-layout-item size="12" padding="around-medium">
                        <input type="radio" id="newSelect" name="selectionGroup" value="new" class="add-to-wishlist-radio-option radioInput" onchange={handleRadioSelect}>
                        <label for="newSelect" class="add-to-wishlist-radio-option-text">{createNewWishlistText}</label>
                    </lightning-layout-item>
                    <!-- New Wishlist Radio Dropdown input: Stop -->

                    <!-- New Wishlist Text Input: Start -->
                    <lightning-layout-item padding="around-small" size="12">
                        <span class="add-to-wishlist-text-input-label">{newSuggestedOrderLabel}</span><lightning-input label="" id="add-to-wishlist-text-input" variant="label-hidden" disabled={newListInputDisabled} class="add-to-wishlist-text-input inputField" value={newListName} onchange={handleTextInput}></lightning-input>
                    </lightning-layout-item>
                    <!-- New Wishlist Text Input: Stop -->

                    <!-- Expiration Date Text: Start -->
                    <lightning-layout-item size="12" padding="around-medium">
                        <p class="add-to-wishlist-expiration-text">{selectExpDateText}</p>
                    </lightning-layout-item>
                    <!-- Expiration Date Text: Stop -->

                    <!-- Expiration Date Picker input: Start -->
                    <lightning-layout-item size="12" padding="around-small">
                        <div class="add-to-wishlist-datepicker-container">
                            <lightning-input type="date"
                                             name="expirationpicker"
                                             label=""
                                             variant="label-hidden"
                                             onchange={handleDateChange}
                                             value={expirationDate}>
                            </lightning-input>
                        </div>
                    </lightning-layout-item>
                    <!-- Expiration Date Picker input: Stop -->

                </lightning-layout>
            </div>
            <div class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" aria-label="Cancel" onclick={closeModal}>{cancelText}</button>
                <button class="slds-button slds-button_brand" onclick={handleConfirm} disabled={btnDisabled}>{nextText}</button>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>