/**
 * Created by Matt on 5/3/2022.
 */

@font-face {
    font-family: "MontserratFont";
    src: url('/s/sfsites/c/resource/MontserratFont') format('TrueType');
}

@font-face {
    font-family: "MontserratBoldFont";
    src: url('/s/sfsites/c/resource/MontserratBoldFont') format('TrueType');
}

p {
    font-family: "MontserratFont";
}

span {
    font-family: "MontserratFont";
}

h1,h2,h3,h4 {
    font-family: "MontserratBoldFont";
}

.download-cart-btn-container {
    text-align: center;
}

/* Master Grid (cc_mg_master_grid) Styling: START */

.custom-product-grid-table {
    border-collapse: collapse;
    table-layout: auto;
    border: 1px solid black;
    font-family: "MontserratFont";
}

table td {
    border: 1px solid lightgray;
}

.dynamic-col {
    text-align: center;
}

th {
    font-size: 1.2rem;
    font-family: "MontserratBoldFont";
    text-align: center;
    position: sticky;
    top: 0;
    width: auto;
    border: 1px solid grey;
    text-transform: bolder;
    background-color: #DCDCDC;
    color: #2C2C2C;
}

td:first-of-type {
    margin: auto;
    width: 20%;
    text-align: center;
    vertical-align: center;
    align-content: center;
    font-size: 1.1rem;
}

td:nth-child(2){
    width: 275px;
}

.price-td {
    width: 200px;
}

td:last-of-type {
    width: 175px;
    margin: none;
    text-align: center;
}

.qty-input-container {
    max-width: 150px;
    display: inline-block;
}

.qty-input {
    width: 100px;
}

/* Master Grid (cc_mg_master_grid) Styling: STOP */

/* Product Info (cc_mg_product_info) Styling: START */
.product-price-info-label-text {
    min-width: fit-content;
}

.product-price-info-value-text {
    min-width: fit-content;
    text-align: left;
}

.product-info-container {
    font-family: "MontserratFont";
    display: inline-block;
    padding: 0px 8px 0px 8px;
}

.product-table-display {
    font-size: .7rem;
    padding-left: 0;
}

.product-detail-display {
    font-size: 1.2rem;
    padding-left: 0;
}
/* Product Info (cc_mg_product_info) Styling: STOP */

/* Product Image Display (cc_mg_product_image_display) Styling: START */

.product-display-image {
    max-width: 65%;
    padding: 10px;
}

.product-display-img-container {
    max-width: 50%;
}

.product-display-view-details-link {
    font-size: 1rem;
    font-family: 'MontserratFont';
    padding: 12px;
}

/* Product Image Display (cc_mg_product_image_display) Styling: STOP */

/* Price Info (cc_mg_price_info) Styling: START */

.price-info-your-price-label-text {
    min-width: fit-content;
}

.price-info-your-price-value-text {
    min-width: fit-content;
}

.price-info-container {
    font-family: 'MontserratFont';
    display: inline-block;
}

/* Price Info (cc_mg_price_info) Styling: STOP */

/* Add to Wishlist (cc_add_to_wishlist) Styling: START */

h1 {
    font-size: 1.5rem;
    font-family: 'MontserratFont';
}

.slds-modal__container {
    min-width: 40%;
}

.slds-spinner_container {
     background-color: rgba(0,0,0,.1);
     background: none;
 }

 .add-to-wishlist-select-input {
    font-family: 'MontserratFont';
     margin-left: 15%;
     max-width: 50%;
 }

 .add-to-wishlist-text-input-label {
    font-family: 'MontserratFont';
     margin-left: 15%;
 }

 .add-to-wishlist-text-input {
    font-family: 'MontserratFont';
     margin-left: 15%;
     max-width: 50%;
 }

 .add-to-wishlist-radio-option {
    font-family: 'MontserratFont';
     margin-left: 5%;
 }

 .add-to-wishlist-radio-option-text {
    font-family: 'MontserratFont';
     padding-left: 2%;
     font-size: 1.0rem;
 }

 .add-to-wishlist-expiration-text {
    font-family: 'MontserratFont';
     padding-top: 5px;
     padding-left: 5%;
     font-size: 1.0rem;
 }

 .add-to-wishlist-datepicker-container {
    font-family: 'MontserratFont';
    margin-left: 15%;
    max-width: 50%;
 }

/* Add to Wishlist (cc_add_to_wishlist) Styling: STOP */

/* Quantity Input (cc_quantity_input) Styling: START */



.quantity-input-quantity-label {
    font-size: 1.3rem;
    padding: 5px;
    text-align: center;
}

.quantity-input-quantity-input {
    text-align: center;
    align-content: center;
    max-width: 75%;
    font-size: .9rem;

}

.quantity-input-container input:disabled {
    background-color: lightgray;
    color: white;
    border: none;
}

.cart-btn {
    text-align: center;
    align-content: center;
    background-color: #0662A1;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: .8rem;
    font-weight: bolder;
    border: 1px solid black;
    font-family: 'MontserratFont';
}

.wishlist-btn {
    text-align: center;
    align-content: center;
    background-color: #0662A1;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: .8rem;
    font-weight: bolder;
    border: 1px solid black;
    font-family: 'MontserratFont';
}

.qty-input-cart-btn-fr {
    margin-right: 20px;
}

.qty-input-layout-fr {
    padding-right: 50px;
}

/* Quantity Input (cc_quantity_input) Styling: STOP */

/* Page Totals (cc_page_totals) Styling: START */


.page-totals-container {
    border: 1.5px solid black;
    min-width: 70%;
    display: table;
    position: fixed;
    z-index: 99;
    margin-bottom: 12%;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    align-content: center;
}




.page-totals-container input:disabled {
    background-color: lightgray;
    color: white;
}


.page-totals-label {
    padding: 15px;
    font-size: 1.3rem;
}

.page-totals-quantity-label {
    font-size: 1.2rem;
}

.page-totals-inner-container {
    background-color: lightgrey;
    padding: 10px;
}

.page-totals-quantity-value {
    font-size: 1.2rem;
    font-weight: bold;
}

.page-totals-price-label {
    font-size: 1.2rem;
}

.page-totals-price-value {
    font-size: 1.2rem;
    font-weight: bold;
}

.page-totals-cart-btn-container {
    padding: 5px;
    margin: 5px;
}

.page-totals-wishlist-btn-container {
    padding: 5px;
    margin: 5px;
}

/* Page Totals (cc_page_totals) Styling: STOP */

/* Cart/Wishlist Item Card Styling: START */
/*
* — Cart Items —
*/
ul {
    font-family: "MontserratFont";
    display: flex;
    flex-direction: column;
}

.variation-text {
    padding-bottom: 8px;
}

.container-li {
    display: flex;
    font-size: 0.875rem;
    border-bottom: 1px solid #f3f2f2;
    border-top: 1px solid #f3f2f2;
}

.cart-wishlist-item-details {
    display: flex;
    padding-left: 16px;
    flex-direction: column;
    align-items: stretch;
}

a {
    color: #111111;
    font-weight: var(--lwc-fontWeightRegular);
    text-decoration: none;
}

figure {
    cursor: pointer;
    height: 130px;
    width: 130px;
}

figure a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

img {
    flex: 0 0 auto; /* IE11 sizing quirk that is resolved by flexbox */
    max-height: 100%;
    max-width: 100%;
}

figure + .details {
    padding-left: var(--lwc-spacingSmall);
}

.cart-wishlist-item-properties {
    display: flex;
    justify-content: stretch;
}

.product-fields {
    color: #4f4f4f;
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--lwc-fontWeightRegular);
}

.product-fields dd {
    width: 50%;
}

.product-fields dt {
    padding-right: var(--lwc-spacingMedium);
    width: 50%;
}

.cart-wishlist-item-quantity-price-remove {
    display: flex;
    flex-grow: 1;
}

.price {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.original-price {
    color: #979797;
    text-decoration: line-through;
}

.negotiated-price {
    color: #4f4f4f;
    font-weight: var(--lwc-fontWeightRegular);
}

.error-container {
    color: var(--lwc-colorTextError);
    padding-top: 0.8rem;
    max-width: 75%;
}

/*
    Screens larger than a tablet (i.e. the default "desktop" size).
    These settings are specific to the "desktop" view, i.e. the SLDS mqLarge responsive threshold
*/
@media only screen and (min-width: 64.01em) {
    .product-fields {
        width: 40%;
    }

    .cart-wishlist-item-quantity-price-remove {
        width: 60%;
    }
}

/* Tablet sized screens or smaller (smaller than the SLDS mqLarge responsive threshold) */
@media only screen and (max-width: 64em) {
    .item-name {
        font-size: 0.875rem;
    }

    figure {
        height: 100px;
        width: 100px;
    }

    .cart-wishlist-item-properties {
        flex-direction: column;
    }

    .cart-wishlist-item-quantity-price-remove {
        padding-top: var(--lwc-spacingMedium);
    }

    .product-fields {
        font-size: 0.75rem;
    }

    .product-fields dt {
        width: 30%;
    }

    .product-fields dd {
        width: 70%;
    }

    .original-price {
        font-size: 0.625rem;
    }

    .negotiated-price {
        font-size: 1rem;
        font-weight: var(--lwc-fontWeightBold);
    }

    .price {
        align-self: center;
    }

    .remove {
        align-self: center;
    }
}

/* Small form factor: devices smaller than tablet (i.e. the SLDS mqSmall responsive threshold)*/
@media only screen and (max-width: 47.9375em) {
    .quantity-selector {
        /*
            A tiny correction when the quantity control shows its "Qty" label so that we stay centered along the box.
            Fortunately, this actually is a fixed height and we have plenty of padding above us.
        */
        margin-top: -0.5rem;
    }

    figure {
        width: 50px;
        height: 50px;
    }
}

/*
* — Quantity Selector Input —
*/
.quantity-selector {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
}

.selector-label {
    font-weight: 700;
}

.selector-input {
    max-width: 5.5rem;
    height: 2.5rem;
    text-align: center;
    outline: 0;
}

.selector-input:focus {
    border-color: var(--lwc-colorBorderBrand);
}

.selector-input:invalid:not(:focus) {
    box-shadow: none;
}

.error-msg {
    position: absolute;
    margin-left: 2.2rem;
}

.disabled {
    color: var(--lwc-brandDisabled);
}

@media only screen and (max-width: 48em) {
    /* SLDS token: mqMedium */
    .quantity-selector {
        flex-direction: column;
    }
    .error-msg {
        position: static;
        margin-left: 0;
    }
    .selector-label {
        font-size: 0.5rem;
    }
}

.decrement-btn {
    border: none;
    background-color: white;
    border-right: 1px solid lightgray;
}

.increment-btn {
    border: none;
    background-color: white;
    border-left: 1px solid lightgray;
}

button[cc_cart_wishlist_item] {
    background-color: white;
    border:none;
}

input.selector-input {
    background: none;
    outline: 0;
    border: none;
}

.controls {
    display: flex;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

.slds-popover.slds-nubbin_bottom {
    position: absolute;
    bottom: 4rem;
    left: -7rem;
}

.info-top-text {
    padding: 8px;
}

.info-list {
    padding-left: 8px;
    list-style-type: disc;
}

.info-list-item {
    padding: 4px;
}

.inventory-status {
    padding-top: 16px;
    width: 100%;
}

.error-container {
    color: red;
    padding-top: 1rem;
    text-align: center;
    max-width: 50%
}

.cart-item-error-container {
        color: red;
        padding-top: 1rem;
}

.error-item {
    display: inline-flex;
    border: 2px solid red;
    font-size: 1.125rem;
    width: 50%;
}

.cart-error-item {
    display: inline-flex;
    border: 2px solid red;
    font-size: 1.125rem;
}

.error-text {
    padding-left: 16px;
}
.slds-icon-text-error {
     --sds-c-icon-color-foreground-default: red;
}

.product-name-text {
    font-size: 1.1rem;
    font-family: "MontserratBoldFont"
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Cart/Wishlist Item Card Styling: STOP */

/* Cart Contents LWC Styling: START */
/*
* — Host Element —
*/
.cart-contents-container {
    display: flex;
    flex-direction: column;
}

/*
* — Cart Header -
*/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lwc-colorBorderSeparator);
}

/* Screens larger than phone */
@media only screen and (min-width: 64em) {
    header {
        padding-bottom: 0.94rem;
    }
    h1 {
        font-size: 1.75rem;
    }
}

/* Phone screens */
@media only screen and (max-width: 64em) {
    header {
        align-items: center;
    }
    h1 {
        font-size: 1.125rem;
    }
}

/*
* — Cart Items Sort Menu -
*/
.sort-menu {
    display: flex;
    align-items: center;
}

.spinner-container {
    top: 50%;
    left: 50%;
}

.wishlistBtnContainer {
    text-align: right;
}

.prev-page-icon {
    text-align: left;
}

.next-page-icon {
    text-align: right;
}


/* Cart Contents LWC Styling: STOP */