<!--
 - Created by Matt on 3/30/2022.
 -->

<!-- (Coastal Cloud) Master Grid Product Display LWC -->
<template>
    <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
        <lightning-layout-item class="product-display-img-container">
            <img class="product-display-image" src={imgUrl}>
        </lightning-layout-item>
        <lightning-layout-item size="7">
            <div class="product-display-view-details-link"><a href="" onclick={goToRecordDetail} data-id={productId}>{viewDetailsLabel}</a></div>
        </lightning-layout-item>
    </lightning-layout>
</template>