<!--
 - Created by Matt on 5/10/2022.
 -->

<!-- (Coastal Cloud) Cart Contents LWC -->
<template>
    <div class="slds-is-relative">
    <!-- Cart Header-->
        <div class="cart-contents-container">
            <header class="slds-p-bottom_large">
                <h1>{cartHeader}</h1>
                <template if:true={hasCartError}>
                    <div class="error-container">
                        <div class="cart-error-item slds-p-around_medium">
                            <span><lightning-icon class="slds-icon-text-error" icon-name="utility:error" size="small"></lightning-icon></span>
                            <p class="error-text">{cartErrorMsg}</p>
                        </div>
                    </div>
                </template>
                <lightning-combobox
                        if:false={isCartEmpty}
                        class="sort-menu"
                        label={labels.sortBy}
                        value={sortParam}
                        options={sortOptions}
                        onchange={handleChangeSortSelection}>
                </lightning-combobox>
            </header>
            <lightning-layout horizontal-align="space">
                <lightning-layout-item size="4">
                    <lightning-button
                            if:false={isCartEmpty}
                            variant="base"
                            label={labels.clearCartButton}
                            onclick={handleClearCartButtonClicked}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="4" class="download-cart-btn-container">
                    <lightning-button if:false={isCartEmpty}
                                      variant="base"
                                      label={csvDownloadText}
                                      onclick={handleCartDownload}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="4" class="wishlistBtnContainer" alignment-bump="right">
                    <lightning-button if:false={isCartEmpty}
                                      variant="base"
                                      label={labels.addAllToWishlist}
                                      onclick={handleAddAllWishlist}>
                    </lightning-button>
                </lightning-layout-item>
            </lightning-layout>

            <!-- Active Cart with Cart Items -->
            <template if:false={isCartClosed}>
                <template if:false={isCartEmpty}>
                    <template if:true={cartItems}>
                        <template for:each={cartItems} for:item="item">
                            <c-cc_cart_wishlist_item key={item.cartItem.cartItemId}
                                                     id={item.cartItem.cartItemId}
                                                     item={item.cartItem}
                                                     currency-code={currencyCode}
                                                     onquantitychanged={handleQuantityChanged}
                                                     onremovecartitem={handleRemoveCartItem}>
                            </c-cc_cart_wishlist_item>
                        </template>
                    </template>
                </template>
                <template if:true={isLoading}>
                    <div class="spinner-container slds-is-absolute">
                        <lightning-spinner size="large"  alternative-text="Processing..."></lightning-spinner>
                    </div>
                </template>
                <div
                        if:true={isCartEmpty}
                        class="slds-text-align_center slds-text-color_weak slds-p-top_xx-large"
                >
                    <h3 class="slds-text-heading_medium">
                        {labels.emptyCartHeaderLabel}
                    </h3>
                    <p class="slds-text-body_regular slds-p-top_small">
                        {labels.emptyCartBodyLabel}
                    </p>
                </div>
                <footer class="slds-p-around_small">
                    <!-- Pagination Stuff -->
                    <lightning-layout horizontal-align="end" class="prev-page-icon">
                        <template if:true={showPrevPageIcon}>
                            <lightning-layout-item size="6" padding="around-medium" class="prev-page-icon">
                                <a onclick={handlePrevPage}><span><lightning-icon icon-name="utility:back" size="x-small" class="slds-p-around_small"></lightning-icon>Previous</span></a>
                            </lightning-layout-item>
                        </template>
                        <template if:true={showNextPageIcon}>
                            <lightning-layout-item size="6" padding="around-medium" class="next-page-icon">
                                <a onclick={handleNextPage}><span>Next<lightning-icon icon-name="utility:forward" size="x-small" class="slds-p-around_small"></lightning-icon></span></a>
                            </lightning-layout-item>
                        </template>
                    </lightning-layout>
                </footer>
            </template>
            <!-- Closed/Deleted Cart -->
            <template if:true={isCartClosed}>
                <div class="slds-text-align_center slds-text-color_weak slds-p-top_xx-large">
                    <h3 class="slds-text-heading_medium">{labels.closedCartLabel}</h3>
                </div>
            </template>
            <!-- Add to Wishlist CMP -->
            <template if:true={showWishlistCmp}>
                <c-cc_add_to_wishlist is-record-detail-page="false"
                                      onclosemodal={closeWishlistModal}
                                      effective-account-id={effectiveAccountId}
                                      record-id={recordId}
                                      is-cart-page="true"
                                      wishlist-data-input={productIds}>
                </c-cc_add_to_wishlist>
            </template>
        </div>
    </div>
</template>