<!--
 - Created by Matt on 3/49/4044.
 -->

<!-- (Coastal Cloud) Product Info LWC -->
<template>
    <div class={fontClass}>
        <lightning-layout multiple-rows="false">
            <!-- Model -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={modelName} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-text value={model} class="product-price-info-value-text slds-p-right_medium"></lightning-formatted-text></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>

            <!--Material-->
            <lightning-layout-item size="12">
                <lightning-layout >
                    <lightning-layout-item size="8"><lightning-formatted-text value={materialNumber} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-text value={material} class="product-price-info-value-text slds-p-right_medium"></lightning-formatted-text></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>

            <!-- UPC -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={upcNumber} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-text value={upc} class="product-price-info-value-text slds-p-right_medium"></lightning-formatted-text></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>

            <!-- CasePack -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={casepackNumber} class="slds-p-left_small product-price-info-label-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-number value={casePack} class="product-price-info-value-text slds-p-right_medium"></lightning-formatted-number></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>

            <!-- Inventory Status -->
            <lightning-layout-item size="12">
                <lightning-layout>
                    <lightning-layout-item size="8"><lightning-formatted-text value={inventoryStatusLabel} class="slds-p-left_small product-price-info-value-text"></lightning-formatted-text></lightning-layout-item>
                    <lightning-layout-item size="4"><lightning-formatted-text value={inventoryStatus} class="product-price-info-value-text slds-p-right_medium"></lightning-formatted-text></lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>