/**
 * Created by Matt on 3/29/2022.
 */

.label-text {
    text-transform: bold;
    min-width: fit-content;
}

.value-text {
    text-align: right;
    min-width: fit-content;
}

.line-container {
    display: block;
}



.container {
    display: inline-block;
    padding: 0px 8px 0px 8px;
}

.product-table-display {
    font-size: .7rem;
    padding-left: 0;
}

.product-detail-display {
    font-size: 1.2rem;
    padding-left: 0;
}