<!--
 - Created by Matt on 6/1/2022.
 -->

<!-- (Coastal Cloud) Checkout Prices Summary -->
<template>
    <lightning-layout horizontal-align="end" multiple-rows="false">
        <lightning-layout-item size="6" padding="around-medium">
            <lightning-formatted-text value="Subtotal">Subtotal</lightning-formatted-text>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium" class="value-container">
            <lightning-formatted-number format-style="currency" value={subTotal}></lightning-formatted-number>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium">
            <lightning-formatted-text value="Shipping">Shipping</lightning-formatted-text>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium" class="value-container">
            <lightning-formatted-number format-style="currency" value={shippingTotal}></lightning-formatted-number>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium">
            <lightning-formatted-text value="Tax">Tax</lightning-formatted-text>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium" class="value-container">
            <lightning-formatted-number format-style="currency" value={taxTotal}></lightning-formatted-number>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium">
            <lightning-formatted-text value="Total" class="total-text">Total:</lightning-formatted-text>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-medium" class="value-container">
            <lightning-formatted-number class="total-value" format-style="currency" value={grandTotal}></lightning-formatted-number>
        </lightning-layout-item>
    </lightning-layout>
</template>