/**
 * Created by Matt on 6/1/2022.
 */

lightning-formatted-text {
    font-size: 1.1rem;
}

lightning-formatted-number {
    font-size: 1.1rem;
}

.total-text {
    font-size: 1.5rem;
}

.total-value {
    font-size: 1.5rem;
}

.value-container {
    text-align: right;
}