<!--
 - Created by Matt on 4/5/2022.
 -->

<!-- (Coastal Cloud 2022) Page Total LWC -->
<template>
    <template if:true={showPriceTotals}>
        <template if:true={showWishlistModal}>
            <c-cc_add_to_wishlist onclosemodal={closeModal}
                                  is-cart-page="false"
                                  wishlist-data-input={wishlistData}
                                  effective-account-id={effectiveAccountId}
                                  is-record-detail-page="false">
            </c-cc_add_to_wishlist>
        </template>
        <lightning-layout class="slds-max-medium-table_stacked-horizontal" horizontal-align="center" multiple-rows="false" vertical-align="center">
            <div class="page-totals-container">
                <lightning-layout-item size="12">
                    <lightning-layout multiple-rows="false" horizontal-align="center" vertical-align="center">
                        <lightning-layout-item size="2">
                            <lightning-formatted-text class="page-totals-label" value={pageTotalsText}></lightning-formatted-text>
                        </lightning-layout-item>
                        <lightning-layout-item size="4">
                            <div class="page-totals-inner-container">
                                <lightning-layout multiple-rows="true" horizontal-align="space">
                                    <lightning-layout-item size="2">
                                        <lightning-formatted-text class="page-totals-quantity-label" value={quantityText}></lightning-formatted-text>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="4">
                                        <lightning-formatted-number class="page-totals-quantity-value" value={totQuantity}></lightning-formatted-number>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="2">
                                        <lightning-formatted-text class="page-totals-price-label" value={priceText}></lightning-formatted-text>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="4">
                                        <lightning-formatted-number class="page-totals-price-value" format-style="currency" currency-code={currencyCode} value={totPrice}></lightning-formatted-number>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2">
                            <div class="page-totals-cart-btn-container">
                                <input class="cart-btn"  onclick={handleAddToCart} type="button"
                                       value={btnText} disabled={btnDisabled}/>
                            </div>
                        </lightning-layout-item>
                        <lightning-layout-item size="2">
                            <div class="page-totals-wishlist-btn-container">
                                <input type="button" class="wishlist-btn" value={wishListBtnTxt} disabled={btnDisabled} onclick={handleAddToWishlist} />
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </div>
        </lightning-layout>
    </template>
</template>