.THIS .slds-modal__container {
    width: 60% !important;
    max-width: 90% !important;
    overflow: visible !important;
    overflow-y: visible;
}

.THIS .slds-modal__content {
    overflow: visible !important;
    margin-bottom: 150px !important;
}