<!--
 - Created by Matt on 1/5/2023.
 -->

<!-- (Coastal Cloud 2023) Product Detail Page Product Field Display -->
<template>
    <lightning-layout multiple-rows="false" class="text-container">
        <template if:true={hasError}>
            <lightning-layout>
                <lightning-layout-item size="12" class="error-container">
                    <span style="color:red"><lightning-icon icon-name="utility:error" size="medium" class="slds-p-around_medium slds-current-color" ></lightning-icon></span>
                    <lightning-formatted-text value={errorText} class="slds-p-right_medium"></lightning-formatted-text>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <template if:false={hasError}>
            <template if:true={showLabel}>
                <lightning-layout-item size="6" class="label-container">
                    <div class={labelTextSizeClass}>
                        {fieldLabel}:
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="6" class="value-container">
                    <div class={valueTextSizeClass}>
                        {fieldValue}
                    </div>
                </lightning-layout-item>
            </template>
            <template if:false={showLabel}>
                <lightning-layout-item size="12" class="value-container">
                    <div class={valueTextSizeClass}>
                        {fieldValue}
                    </div>
                </lightning-layout-item>
            </template>
        </template>
    </lightning-layout>
</template>