<!--
 - Created by Matt on 7/7/2022.
 -->

<!-- (Coastal Cloud 2022) Account Display -->
<template>
    <template if:true={showAccountText}>
        <div class="account_name_container">
            <h2>Currently shopping as: {accountName}</h2>
        </div>
    </template>
</template>