<!-- (Coastal Cloud) Suggested Orders List -->
<template>
    <div class="slds-is-relative wishlist-list-container">
        <template if:true={isLoading}>
            <div class="spinner-container slds-is-absolute">
                <lightning-spinner size="large" alternative-text="Processing..."></lightning-spinner>
            </div>
        </template>
        <template if:true={showDataTable}>
            <lightning-datatable data={orderData}
                                 key-field="Id"
                                 columns={columns}
                                 show-row-number-column="true"
                                 hide-checkbox-column="true"
                                 onrowaction={handleRowAction}>
            </lightning-datatable>
        </template>
        <div
                if:true={noRecords}
                class="slds-text-align_center slds-text-color_weak slds-p-top_xx-large"
        >
            <h3 class="slds-text-heading_medium">
                {labels.noOrders}
            </h3>
            <p class="slds-text-body_regular slds-p-top_small">
                {labels.emptyOrderBodyLabel}
            </p>
        </div>
        <template if:true={showDeleteConfirm}>
            <section role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <div class="slds-modal__header">
                        <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{confirmDeleteHeader}</h1>
                    </div>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <p>{confirmDeleteText}</p>
                    </div>
                    <div class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" aria-label="Cancel and close" onclick={handleCloseModal}>{cancelBtnText}</button>
                        <button class="slds-button slds-button_destructive" onclick={handleListDelete}>{deleteBtnText}</button>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
        </template>
    </div>
</template>