<!--
 - Created by Matt on 3/23/2022.
 -->

<!-- Quick Order Process Log -->
<template>
    <template if:true={showProcessLog}>

        <div class="slds-form-element__label"></div>

        <lightning-card>
            <h1 slot="title">Quick Order Processing Log</h1>
            <template if:true={isSuccess}>
                <h2 class="slds-text-color_success slds-text-heading_medium slds-p-around_large">{titleError}</h2>
            </template>
            <template if:false={isSuccess}>
                <h2 class="slds-text-color_error slds-text-heading_medium slds-p-around_large">{titleError}</h2>
            </template>
            <lightning-formatted-rich-text value={richText}></lightning-formatted-rich-text>

        </lightning-card>

    </template>
</template>