/**
 * Created by Matt on 5/24/2022.
 */

/*
* — Host Element —
*/
.wishlist-contents-container {
    display: flex;
    flex-direction: column;
}

/*
* — Cart Header -
*/
header {
    display: flex;
    justify-content: space-between;

}

/* Screens larger than phone */
@media only screen and (min-width: 64em) {
    header {
        padding-bottom: 0.94rem;
    }
    h1 {
        font-size: 1.75rem;
    }
}

/* Phone screens */
@media only screen and (max-width: 64em) {
    header {
        align-items: center;
    }
    h1 {
        font-size: 1.125rem;
    }
}

/*
* — Cart Items Sort Menu -
*/
.sort-menu {
    display: flex;
    align-items: center;
}

.wishlistBtnContainer {
    text-align: right;
}

.spinner-container {
    top: 50%;
    left: 50%;
}

.wishlist-fields {
    color: #4f4f4f;
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--lwc-fontWeightRegular);
}

.wishlist-fields dd {
    padding-left: 8px;
    width: 50%;
}

.wishlist-fields dt {
    padding-left: 8px;
    padding-right: var(--lwc-spacingMedium);
    width: 50%;
}

.info-header {
    font-size: .9rem;
    font-weight: bold;
}

.wishlistInfo {
    padding: 16px;
    width: 150%;
}