<template>
    <div class="slds-is-relative">
        <!-- Cart Header-->
        <div class="wishlist-contents-container">
            <header class="slds-p-bottom_large">
                <h1>{orderHeader}</h1>
                <template if:true={hasOrderError}>
                    <div class="error-container">
                        <div class="cart-error-item slds-p-around_medium">
                            <span><lightning-icon class="slds-icon-text-error" icon-name="utility:error" size="small"></lightning-icon></span>
                            <p class="error-text">{orderErrorMsg}</p>
                        </div>
                    </div>
                </template>
            </header>
            <lightning-layout horizontal-align="end">
                <lightning-layout-item size="3">
                    <template if:true={hasOrderData}>
                        <div class="wishlistInfo">
                            <h3 class="info-header">{orderInfoText}:</h3>
                            <dl class="wishlist-fields">
                                <dt class="slds-truncate">{createdDateText}:</dt>
                                <dd class="slds-truncate"><lightning-formatted-date-time value={suggestedOrder.createdDate}></lightning-formatted-date-time></dd>
                                <dt class="slds-truncate">{expirationDateText}:</dt>
                                <dd class="slds-truncate"><lightning-formatted-date-time value={suggestedOrder.expirationDate}></lightning-formatted-date-time></dd>
                                <dt class="slds-truncate">{lastModifiedText}:</dt>
                                <dd class="slds-truncate"><lightning-formatted-date-time value={suggestedOrder.modifiedDate}></lightning-formatted-date-time></dd>
                            </dl>
                        </div>
                    </template>
                </lightning-layout-item>
                <lightning-layout-item size="9" class="wishlistBtnContainer" >
                    <template if:true={hasOrderData}>
                        <lightning-button if:false={isOrderEmpty}
                                          variant="brand"
                                          disabled={addAllBtnDisabled}
                                          class="wishlist-add-all-to-cart-button"
                                          label={addAllButtonText}
                                          onclick={handleAddAllToCart}>
                        </lightning-button>
                    </template>
                </lightning-layout-item>
            </lightning-layout>
            <template if:true={hasOrderData}>
                <template if:true={suggestedOrderItems}>
                    <template for:each={suggestedOrderItems} for:item="item">
                        <c-cc_wishlist_item key={item.orderItemId}
                                            id={item.orderItemId}
                                            item={item}
                                            currency-code={currencyCode}
                                            onquantitychanged={handleQuantityChanged}
                                            onremovewishlistitem={handleRemoveItem}
                                            onsingleaddtocart={handleSingleAddToCart}>
                        </c-cc_wishlist_item>
                    </template>
                </template>
            </template>
            <template if:true={isLoading}>
                <div class="spinner-container slds-is-absolute">
                    <lightning-spinner size="large"  alternative-text="Processing..."></lightning-spinner>
                </div>
            </template>
            <div
                    if:true={isOrderEmpty}
                    class="slds-text-align_center slds-text-color_weak slds-p-top_xx-large"
            >
                <h3 class="slds-text-heading_medium">
                    {labels.emptyWishlistHeaderLabel}
                </h3>
                <p class="slds-text-body_regular slds-p-top_small">
                    {labels.emptyWishlistBodyLabel}
                </p>
            </div>
            <footer class="slds-p-around_small">

            </footer>
        </div>
    </div>
</template>