<!--
 - Created by Matt on 5/5/2022.
 -->

<!-- (Coastal Cloud) CartItem / WishlistItem Display Card -->
<template>
    <div class="slds-is-relative">
        <template if:true={item}>
            <ul>
                <li
                    key={item.productId}
                    class="container-li slds-p-vertical_medium"
                >
            <!-- Card Body : START -->
                <!-- Product Image -->
                    <figure>
                        <a
                            tabindex="-1"
                            href={item.productUrl}
                            data-productid={item.productId}
                            onclick={handleProductDetailNavigation}>
                            <img
                                src={item.productImageUrl}
                                alt={item.productImageAltText}
                                data-productid={item.productId}
                            />
                        </a>
                    </figure>
                    <div class="cart-wishlist-item-details slds-has-flexi-truncate">
                        <ul>
                            <li key={item.Id} class="variation-text">
                            <span class="product-name-text slds-text-title_caps slds-text-title_bold">
                                {item.name}
                            </span>
                            </li>
                        </ul>
                        <div class="cart-wishlist-item-properties">
                            <dl class="product-fields">
                                <dt class="slds-truncate">{modelText}:</dt>
                                <dd class="slds-truncate" title={item.productDetails.fields.Model_Number__c}>
                                    {item.productDetails.fields.Model_Number__c}
                                </dd>
                                <dt class="slds-truncate">{materialText}:</dt>
                                <dd class="slds-truncate" title={item.productDetails.fields.Material__c}>{item.productDetails.fields.Material__c}</dd>
                                <dt class="slds-truncate">{casePackText}:</dt>
                                <dd class="slds-truncate" title={item.productDetails.fields.Case_Quantity__c}>{item.productDetails.fields.Case_Quantity__c}</dd>
                            </dl>
                            <div class="cart-wishlist-item-quantity-price-remove">
                                <div class="slds-is-relative quantity-selector slds-grid slds-grid_vertical-align-center slds-text-title_caps">

                                    <template if:true={item.productDetails.purchaseQuantityRule}>
                                        <label for={item.cartItemId} class="selector-label">QTY</label>
                                            <!-- Quantity Info Popover: START -->
                                            <section if:true={showQtyInfo} aria-label="Dialog title" aria-describedby="popover-body-id" class="slds-popover slds-nubbin_bottom" role="dialog">
                                                <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" onclick={closeQtyInfo} title="Close dialog">
                                                    <lightning-icon class="slds-button__icon" aria-hidden="true" icon-name="utility:close" size="x-small" >
                                                    </lightning-icon>
                                                    <span class="slds-assistive-text">Close dialog</span>
                                                </button>
                                                <div id="popover-body-id" class="slds-popover__body">
                                                    <p class="info-top-text">Quantity Rules for {item.name}:</p>
                                                    <ul class="info-list">
                                                        <li class="info-list-item">Minimum quantity is {item.productDetails.purchaseQuantityRule.minimum}</li>
                                                        <li class="info-list-item">Maximum quantity is {item.productDetails.purchaseQuantityRule.maximum}</li>
                                                        <li class="info-list-item">Sold in increments of {item.productDetails.purchaseQuantityRule.increment}</li>
                                                    </ul>
                                                </div>
                                            </section>
                                            <!-- Quantity Info Popover: STOP -->
                                        <lightning-icon class="slds-p-around_small" icon-name="utility:info" size="x-small" data-id={item.productId} data-rule-max={item.productDetails.purchaseQuantityRule.maximum} data-rule-min={item.productDetails.purchaseQuantityRule.minimum} data-rule-increment={item.productDetails.purchaseQuantityRule.increment} onclick={showQuantityRuleInfo}></lightning-icon>
                                    </template>
                                    <template if:false={item.productDetails.purchaseQuantityRule}>
                                        <label for={item.cartItemId} class="selector-label slds-p-right_medium">QTY</label>
                                    </template>
                                    <span class="controls slds-m-right_small quantity-group" role="group">
                                        <button class="decrement-btn slds-p-horizontal_xx-small slds-p-vertical_x-small" onclick={handleQuantityDecrease} disabled={inputsDisabled}>
                                            <lightning-icon icon-name="utility:dash"
                                                            size="x-small"
                                                            class="slds-icon-utility-dash btn-icon slds-icon_container">
                                            </lightning-icon>
                                        </button>
                                        <input class="selector-input slds-p-horizontal_medium slds-p-vertical_x-small"
                                               disabled={inputsDisabled}
                                               id={item.cartItemId}
                                               data-item-id={item.cartItemId}
                                               type="number"
                                               step="1"
                                               required
                                               onchange={handleQuantityChange}
                                               value={item.quantity} />
                                        <button class="increment-btn slds-p-horizontal_xx-small slds-p-vertical_x-small" onclick={handleQuantityIncrease} disabled={inputsDisabled}>
                                            <lightning-icon icon-name="utility:add"
                                                            size="x-small"
                                                            class="slds-icon-utility-add btn-icon slds-icon_container">
                                            </lightning-icon>
                                        </button>
                                    </span>
                                    <span class="inventory-status">
                                        {inventoryStatusText}: {item.inventoryStatus}
                                    </span>
                                </div>
                                <div class="price slds-p-horizontal_medium slds-has-flexi-truncate">
                                    <lightning-formatted-number
                                            format-style="currency"
                                            currency-code={currencyCode}
                                            class="negotiated-price slds-truncate slds-text-heading_large"
                                            currency-display-as="symbol"
                                            maximum-fraction-digits="2"
                                            value={item.totalPrice}>
                                    </lightning-formatted-number>
                                </div>
                                <div class="slds-p-around_xx-small remove">
                                    <lightning-button-icon
                                            icon-name="utility:close"
                                            variant="bare"
                                            alternative-text="remove"
                                            onclick={handleDeleteCartItem}
                                            data-cartitemid={item.cartItemId}
                                            disabled={inputsDisabled}>
                                    </lightning-button-icon>
                                </div>
                            </div>
                        </div>
                        <template if:true={item.hasErrors}>
                            <div class="cart-item-error-container">
                                <div class="error-item slds-p-around_medium">
                                    <span><lightning-icon class="slds-icon-text-error" icon-name="utility:error" size="small"></lightning-icon></span>
                                    <p class="error-text">{item.errorMsg}</p>
                                </div>
                            </div>
                        </template>
                    </div>
                </li>
            </ul>
            <template if:true={isLoading}>
                <div class="spinner-container slds-is-absolute">
                    <lightning-spinner size="large" alternative-text="Processing..."></lightning-spinner>
                </div>
            </template>
        </template>
    </div>
</template>