<!--
 - Created by Matt on 4/25/2022.
 -->

<!-- (Coastal Cloud) Quantity Input LWC -->
<template>
    <template if:true={showWishlistModal}>
        <c-cc_add_to_wishlist onclosemodal={closeModal} wishlist-data-input={wishlistData} record-id={recordId} effective-account-id={effectiveAccountId} is-record-detail-page="true" is-cart-page="false"></c-cc_add_to_wishlist>
    </template>
    <lightning-card>
        <div class="quantity-input-container">
            <lightning-layout horizontal-align="center" class={layoutClass} vertical-align="center">
                <lightning-layout-item size="3" class="quantity-input-quantity-label">
                    <h3 class="slds-p-around_medium">
                        {quantityText}
                    </h3>
                </lightning-layout-item>
                <lightning-layout-item size="2" class=" slds-p-around_medium quantity-input-quantity-input">
                    <lightning-input label="" type="number" name="qtyInput" onchange={handleQuantityChange} variant="label-hidden"></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="3" padding="around-small" class={addToCartBtnClass} style="text-align: center;">
                    <input type="button" class="cart-btn" value={cartBtnTxt} disabled={btnDisabled} onclick={handleAddToCart}/>
                </lightning-layout-item>
                <lightning-layout-item size="4" style="text-align: center; padding-right: 16px;"  alignment-bump="left">
                    <input type="button" class="wishlist-btn" value={wishlistBtnTxt} disabled={btnDisabled} onclick={handleAddToWishlist}/>
                </lightning-layout-item>
            </lightning-layout>
            <template if:true={isLoading}>
                <div class="slds-align_absolute-center slds-p-around_large">
                    <lightning-spinner size="medium" alternative-text="Processing..."></lightning-spinner>
                </div>
            </template>
        </div>
    </lightning-card>
</template>